@using GLTV.Extensions
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<h2>message: @ViewData["message"]</h2>

<h2>Status Code : @ViewData["statusCode"]</h2>

<p>Server admin @(Constants.)</p>
@*<div>@Html.Raw(ViewData["stackTrace"]))</div>*@

