body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.login-body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: url('/images/header_gltv_5.jpg');
}

    .login-body .login-column {
        background-color: rgba(0, 0, 0, 0.8);
        padding-bottom: 100%;
        margin-bottom: -100%;
        padding-top: 40%;
    }

.nonresizable {
    resize: none;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

    .checkbox .cr .cr-icon,
    .radio .cr .cr-icon {
        position: absolute;
        font-size: .8em;
        line-height: 0;
        top: 50%;
        left: 20%;
    }

    .radio .cr .cr-icon {
        margin-left: 0.04em;
    }

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

    .checkbox label input[type="checkbox"] + .cr > .cr-icon,
    .radio label input[type="radio"] + .cr > .cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .3s ease-in;
    }

    .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
    .radio label input[type="radio"]:checked + .cr > .cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled + .cr,
    .radio label input[type="radio"]:disabled + .cr {
        opacity: .5;
    }

.nav > li.active-underline > a {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

p.time-hint {
    font-size: 9px;
}

span.time-inactive {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

span.time-active {
    color: green;
    font-weight: bold;
    font-size: 14px;
}

span.time-expired {
    color: orange;
    font-weight: bold;
    font-size: 14px;
}

.image-block {
    display: inline-block;
    padding: 10px 0;
}

.deleted-items-table tr th:nth-child(2),
.deleted-items-table tr td:nth-child(2) {
    min-width: 400px;
}

.deleted-items-table .inner-table td,
.deleted-items-table .inner-table th {
    padding: 0 20px 0 0;
    min-width: 0 !important;
}
