@inject SignInManager<ApplicationUser> SignInManager
@{
    Layout = null;
    string error = (string)TempData["ErrorMessage"];
    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GLTV login page</title>
    <link rel="stylesheet" href="/css/login.css" type="text/css">
</head>

<body>
<div class="gl-container-fluid main-container" style="background-image: url('/images/header_gltv_5.jpg');">
    <div class="gl-info-section">
        <h1 class="gl-heading">GlobalLogic Television</h1>
    </div>
    <div class="gl-login-section">
        <div class="gl-form-block">
            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="gl-login-form">
                <div class="gl-list-group">
                    @foreach (var provider in loginProviders)
                    {
                        <button name="provider" value="@provider.Name" style="padding: 0px; border: 0px; border-radius: 3px; max-width: 210px; max-height: 50px;">
                            <img src="/images/btn_google_signin_dark_normal_web.png" alt="google signin" style="border-radius: 3px; max-width: 210px; max-height: 50px;" />
                        </button>
                    }

                    <div class="gl-error-message">
                        @if (!string.IsNullOrEmpty(error))
                        {
                            <p>@Html.Raw(error)</p>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</body>

</html>

